- hosts: all
  become: yes
  tasks:
    - name: Copy WAR to Tomcat
      copy:
        src: /var/lib/jenkins/workspace/sdlc/devops_login/target/devops_login-0.0.2-SNAPSHOT.war
        dest: /home/sunil/batch11/ansible/sonar/sonar_tomcat/webapps
        mode: '0644'

    - name: Restart Tomcat
      service:
        name: tomcat
        state: restarted
